# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build files
frontend/build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Uploads
uploads/
